*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --darkpink:#dd127b;
}

.darkpink{
    background-color: var(--darkpink);
}

.textdark{
    color: #dd127b;
}

a{
    text-decoration: none;
}
.b{
    list-style-type: none;
}
.fs-14{font-size: 22px;}
.fs-12{font-size: 17px;}

/* header section start */
.navbar-brand img{
   transition: 0.2s linear;
}

.navbar-brand img:hover{
    transform: scale(1.05) ;
    transition: 0.2s linear;
}
/* header section end */

.dropdown:hover .dropdown-menu {
    display: block;
    }